/* Color Palette 
#E8EDF2 - white with blue undertones (foreground)
#2C3947 - navy blue  (background)
#547A95 - blue
#C2A56D - sand beige
*/
/* shapedivider.app CSS */
.custom-shape-divider-top-1778100104 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-top-1778100104 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 550px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1778100104 .shape-fill {
    fill: #2C3947;
}
/**********My CSS Below***************/
* {
    box-sizing: border-box;
}
header{
    height: 50px;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    background-color: #d5dadf;
    font-family: "Cascadia Code", Verdana, Geneva, Tahoma, sans-serif
}
ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

.social-media-icons{
    width: 35px;
    cursor: pointer;
}
/********* ABOUT ME SECTION **************/
.about-me-container{
    display: block;
    margin: 0 auto;
    max-width: 80%;
    padding-bottom: 200px;
}
.about-me-content-area{
    display: flex;
}
.about-me-img{
    display: flex;
    height: auto;
    max-width: 400px;
}
.about-me-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    max-width: 80%;
    background-color: #E8EDF2;
    padding: 25px;
    box-shadow: 0px 5px 10px rgba(87, 87, 87, 0.479);
}
.about-me-text > p{
    color: rgb(88, 88, 88);
    font-size: 24px;
}
.about-me-links{
    display: flex;
    justify-content: end;
}

/******* PROJECTS SECTION *************/
.projects-container{
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 200px;
}
.projects-container > h1{
    margin: 0;
    padding: 0;
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 50%, 50%; 
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.project{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #E8EDF2;
    font-size: 18px;
    box-shadow: 0px 5px 10px rgba(87, 87, 87, 0.479);
}
.project-screenshot{
    max-width: 100%;
}
.project-info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-left: 25px; padding-right: 25px;
}
.project-descr{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px; padding-right: 20px; padding-bottom: 40px;
    color: rgb(88, 88, 88);
}
/******** CONTACT INFO SECTION *************/
.contact-info-container{
    max-width: 100%;
    background-color: #547A95;
    color: #E8EDF2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    justify-items: start;
    padding-left: 75px;
}
.contact-info{
    grid-column: 1/1;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    font-size: 26px;
    margin: 50px 0px 50px 0px;
}
.contact-address{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-address > p{
    padding: 0;
    margin: 0;
}
.contact-methods{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 25px; padding-bottom: 25px;
}
.contact-details{
    display: flex;
    gap: 15px;
    align-items: center;
}
.contact-details >p {
    padding: 0;
    margin: 10px;
}

.contact-info-img-container{
    display: flex;
    max-width: 100%;
    grid-column: 2/2;
    align-items: center;
    align-self: center;
    margin: 50px 0px 50px 0px;
}
.contact-info-img{
    max-width: 600px;
    height: auto;
}
