/* Color Palette 
#E8EDF2 - white with blue undertones (foreground)
#2C3947 - navy blue  (background)
#547A95 - blue
#C2A56D - sand beige
*/
/* shapedivider.app CSS */
.custom-shape-divider-top-1778100104 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-top-1778100104 svg {
    position: relative;
    display: block;
    width: calc(206% + 1.3px);
    height: 250px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1778100104 .shape-fill {
    fill: #2C3947;
}
/**********My CSS Below***************/
* {
    box-sizing: border-box;
}
header{
    height: 50px;
    width: 100%;
}
body{
    background-color: #E8EDF2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    display: flex;
    list-style: none;
}

.social-media-icons{
    display: block;
}
/********* ABOUT ME SECTION **************/
.about-me-container{
    display: block;
    margin: 0 auto;
    /* border: 5px solid black;
    background-color: white;
    border-radius: 5px; */
    max-width: 50%;
}
.about-me-content-area{
    display: flex;
}
.about-me-img{
    /* width: 250px; */
    display: flex;

    height: auto;
    max-width: 300px;
}
.about-me-text{
    font-size: 24px;
    background-color: #E8EDF2;
    width: 100%;
    padding: 25px;
    border: 5px solid black;
}
.about-me-text > p{
    color: rgb(88, 88, 88);
}
.about-me-links{
    display: flex;
    justify-content: end;
}

/******* PROJECTS SECTION *************/
.projects-container{
    display: block;
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}
.project{
    display: flex;
}
.project-screenshot{
    max-width: 250px;
}
/******** CONTACT INFO SECTION *************/
.contact-info-container{
    display: block;
}
.contact-info{
    display: block;
}
.contact-info-links{
    display: flex;
}
.contact-info-img{
    max-width: 250px;
}
