/* Color Palette 
#E8EDF2 - white with blue undertones (foreground)
#2C3947 - navy blue  (background)
#547A95 - blue
#C2A56D - sand beige
*/

* {
    box-sizing: border-box;
}
header{
    height: 50px;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    background-color: #d5dadf;
    font-family: "Cascadia Code", Verdana, Geneva, Tahoma, sans-serif
}
ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

.social-media-icons{
    width: 35px;
    cursor: pointer;
}

/********* ABOUT ME SECTION **************/
.about-me-container{
    display: block;
    margin: 0 auto;
    max-width: 80%;
    padding-bottom: 175px;
}
.about-me-content-area{
    display: flex;
    flex: 1 1 auto
}
.img-container{
    display: inline-block;
    position: relative;
}
.about-me-img{
    display: block;
    height: auto;
    max-width: 400px;
    min-width: 100px;
}
.about-me-img-text{
    font-size: clamp(1.5rem, 1.5vw, 3rem);
    position: absolute;
    text-wrap: nowrap;
    letter-spacing: 0px;
    left: 35%;
    right: 50%;
    bottom: 5%;
    color: #E8EDF2;
    transform: translate(-45%, 45%);
    background-color: rgba(0,0,0 0.5);
}
.about-me-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    max-width: 80%;
    background-color: #E8EDF2;
    padding: 25px;
    box-shadow: 0px 5px 10px rgba(87, 87, 87, 0.479);
}
.about-me-text > p{
    color: rgb(88, 88, 88);
    font-size: 22px;
}
.about-me-links{
    display: flex;
    justify-content: end;
}

/******* PROJECTS SECTION *************/
.projects-container{
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 175px;
}
.projects-container > h1{
    margin: 0;
    padding: 0;
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 50%, 50%; 
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.project{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #E8EDF2;
    font-size: 18px;
    box-shadow: 0px 5px 10px rgba(87, 87, 87, 0.479);
}
.project-screenshot{
    max-width: 100%;
}
.project-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px; padding-right: 25px;
}

.project-descr{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px; padding-right: 20px; padding-bottom: 40px;
    color: rgb(88, 88, 88);
}
/******** CONTACT INFO SECTION *************/
.contact-info-container{
    max-width: 100%;
    background-color: #547A95;
    color: #E8EDF2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    justify-items: start;
    padding-left: 75px;
}
.contact-info{
    grid-column: 1/1;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    font-size: 26px;
    margin: 50px 0px 50px 0px;
}
.contact-address{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-address > p{
    padding: 0;
    margin: 0;
}
.contact-methods{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 25px; padding-bottom: 25px;
}
.contact-details{
    display: flex;
    gap: 15px;
    align-items: center;
}
.contact-details >p {
    padding: 0;
    margin: 10px;
}

.contact-info-img-container{
    display: flex;
    max-width: 100%;
    grid-column: 2/2;
    align-items: center;
    align-self: center;
    margin: 50px 0px 50px 0px;
}
.contact-info-img{
    max-width: 600px;
    min-width: 100px;
    height: auto;
}

/*********************************/
/* shapedivider.app CSS */
.custom-shape-divider-top-1778100104 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-top-1778100104 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 550px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1778100104 .shape-fill {
    fill: #2C3947;
}
/**********Media Queries***************/
/*for tablets <=1180px*/
@media only screen and (max-width: 1180px){
    .social-media-icons{
        width: 22px;
        cursor: pointer;
        gap: 5px;  
    }
    .about-me-container{
        padding-bottom: 125px;
    }
    .about-me-text{
        font-size: 14px;
    }
    .about-me-text > p{
        color: rgb(88, 88, 88);
        font-size: 14px;
    }
    .about-me-img{
        width: 300px;
    }
    .about-me-img-text{
        right: 25%;
        color: #E8EDF2;
    }
    .about-me-links{
        width: 100%;
        justify-content: flex-end;
    }
    .projects-container{
        padding-bottom: 125px;
    }
    .project-info{
        padding-left: 10px; padding-right: 10px;
        font-size: 16px;
    }
    .project-descr{
        font-size: 14px;
    }
    .contact-info{
        max-width: 100%;
        font-size: 16px;
    }
    .contact-info-img{
        padding-right: 25px;
    }
}
/* for phones <= 500px*/
@media only screen and (max-width: 500px){
    .social-media-icons{
        width: 20px;
        cursor: pointer;
    }
    .about-me-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100vw;
        padding-bottom: 100px;

    }
    .about-me-content-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
    }
    .about-me-img{
        max-width: 100vw;
    }
    .about-me-text{
        font-size: 14px;
        max-width: 100vw;
    }
    .projects-container{
        padding-bottom: 100px;
    }
    .projects-grid{
        display: flex;
        flex-direction: column; 
    }
    .contact-info-container{
        display: flex;
        flex-direction: column;
        padding-left: 10px; padding-right: 10px;
    }
    .contact-info{
        font-size: 14px;
        margin: 0;
    }
    .contact-info-img-container{
        max-width: 100vw;
    }
    .contact-info-img{
        padding: 0;
        align-items: center;
        align-self: center;
        max-width: 100vw;
    }
}


